{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="grid grid-cols-1 w-full">
      <nav
        class="flex items-center justify-between flex-wrap bg-steelblue-900 p-6 fixed w-full z-10 top-0"
      >
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <a
            class="text-white no-underline hover:text-white hover:no-underline"
            href="#"
          >
            <p class="text-2xl pl-2">Aaron Sinnott</p>
          </a>
        </div>

        <div class="block lg:hidden">
          <button
            id="nav-toggle"
            class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white"
          >
            <svg
              class="fill-current h-3 w-3"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>

        <div
          class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0"
          id="nav-content"
        ></div>
      </nav>
      <section
        class="bg-steelblue-900 flex-container h-screen flex flex-col justify-between pl-8 text-white"
      >
        <div></div>
        <h1 class="text-6xl">
          {% trans 'Aaron Sinnott' %}
          <small class="block text-3xl">Python & React Developer</small>
        </h1>
        <a link="">
          <svg
            class="m-auto mb-12 w-12"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="{2}"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </a>
      </section>
      <section class="bg-cornflowerblue-50 h-full pt-48">
        <div class="flex flex-col items-center lg:flex-row lg:justify-around">
          <div
            class="border-steelblue-200 shadow-lg w-64 border-2 text-center py-4 lg:p-12 mb-4 rounded-md"
          >
            <svg
              class="text-steelblue-900 w-24 border-solid border-4 border-steelblue-900 rounded-full mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="-17.5 -17.5 60 60"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"
              />
            </svg>
            <h2 class="text-2xl mt-2">Databases</h2>
          </div>
          <div
            class="border-steelblue-200 shadow-lg w-64 border-2 text-center py-4 lg:p-12 mb-4 rounded-md"
          >
            <svg
              class="text-steelblue-900 w-24 border-solid border-4 border-steelblue-900 rounded-full mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="-17.5 -17.5 60 60"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
              />
            </svg>
            <h2 class="text-2xl mt-2">AWS & Gcloud</h2>
          </div>
          <div
            class="border-steelblue-200 shadow-lg w-64 border-2 text-center py-4 lg:p-8 mb-4 rounded-md"
          >
            <svg
              class="text-steelblue-900 w-24 border-solid border-4 border-steelblue-900 rounded-full mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="-17.5 -17.5 60 60"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
              />
            </svg>
            <h2 class="text-2xl mt-2">Mobile-first Development</h2>
          </div>
          <div
            class="border-steelblue-200 shadow-lg w-64 border-2 text-center py-4 lg:p-8 mb-4 rounded-md"
          >
            <svg
              class="text-steelblue-900 w-24 border-solid border-4 border-steelblue-900 rounded-full mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="-17.5 -17.5 60 60"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"
              />
            </svg>
            <h2 class="text-2xl mt-2">I18n & Translations</h2>
          </div>
        </div>
      </section>
    </div>
    <script>
      document.getElementById("nav-toggle").onclick = function () {
        document.getElementById("nav-content").classList.toggle("hidden");
      };
    </script>
  </body>
</html>
