@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.card {
  @apply m-auto min-h-90 mb-4 border-steelblue-200 shadow-lg w-64 border-2 text-center p-4 rounded-md;
}

.portfolio-card {
  @apply m-6 mb-4 border-steelblue-200 shadow-lg border-2 text-center p-4 rounded-md;
}

.panel {
  @apply min-h-90 mb-4 border-steelblue-200 shadow-lg border-2 p-4 rounded-md;
}

.ci-carousel-open:checked + .ci-carousel-item {
  position: static;
  opacity: 100;
}
.ci-carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#ci-carousel-1:checked ~ .ci-control-1,
#ci-carousel-2:checked ~ .ci-control-2,
#ci-carousel-3:checked ~ .ci-control-3,
#ci-carousel-4:checked ~ .ci-control-4 {
  display: block;
}
.ci-carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#ci-carousel-1:checked
  ~ .ci-control-1
  ~ .ci-carousel-indicators
  li:nth-child(1)
  .ci-carousel-bullet,
#ci-carousel-2:checked
  ~ .ci-control-2
  ~ .ci-carousel-indicators
  li:nth-child(2)
  .ci-carousel-bullet,
#ci-carousel-3:checked
  ~ .ci-control-3
  ~ .ci-carousel-indicators
  li:nth-child(3)
  .ci-carousel-bullet,
#ci-carousel-4:checked
  ~ .ci-control-4
  ~ .ci-carousel-indicators
  li:nth-child(4)
  .ci-carousel-bullet {
  color: #2b6cb0; /*Set to match the Tailwind colour you want the active one to be */
}

.de-carousel-open:checked + .de-carousel-item {
  position: static;
  opacity: 100;
}
.de-carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#de-carousel-1:checked ~ .de-control-1,
#de-carousel-2:checked ~ .de-control-2,
#de-carousel-3:checked ~ .de-control-3,
#de-carousel-4:checked ~ .de-control-4 {
  display: block;
}
.de-carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#de-carousel-1:checked
  ~ .de-control-1
  ~ .de-carousel-indicators
  li:nth-child(1)
  .de-carousel-bullet,
#de-carousel-2:checked
  ~ .de-control-2
  ~ .de-carousel-indicators
  li:nth-child(2)
  .de-carousel-bullet,
#de-carousel-3:checked
  ~ .de-control-3
  ~ .de-carousel-indicators
  li:nth-child(3)
  .de-carousel-bullet,
#de-carousel-4:checked
  ~ .de-control-4
  ~ .de-carousel-indicators
  li:nth-child(4)
  .de-carousel-bullet {
  color: #2b6cb0; /*Set to match the Tailwind colour you want the active one to be */
}
