{% load static %}{% load i18n %}
<div class="de-carousel relative bg-white">
  <div class="de-carousel-inner relative overflow-hidden w-full">
    <input
      class="de-carousel-open"
      type="radio"
      id="de-carousel-1"
      name="de-carousel"
      aria-hidden="true"
      hidden=""
      checked="checked"
    />
    <div class="de-carousel-item absolute opacity-0" style="height: 50vh">
      <div
        class="h-full w-full flex items-center justify-center bg-cornflowerblue-50 text-white text-5xl text-center"
      >
        <a href="https://codeinstitute.net" target="_blank">
          <img class="w-64 block" src="{% static 'images/decyphr.jpg' %}" />
        </a>
      </div>
    </div>
    <label
      for="de-carousel-4"
      class="prev de-control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
      >‹</label
    >
    <label
      for="de-carousel-2"
      class="next de-control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
      >›</label
    >

    <input
      class="de-carousel-open"
      type="radio"
      id="de-carousel-2"
      name="de-carousel"
      aria-hidden="true"
      hidden=""
    />
    <div class="de-carousel-item absolute opacity-0" style="height: 50vh">
      <div
        class="h-full w-full bg-cornflowerblue-50 flex items-center text-center"
      >
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
          <!-- prettier-ignore -->
          <div
            class="portfolio-card lg:mx-24 lg:p-8"
            style="
              background-image: url({%static 'images/coding-screen.jpg'%});
              background-size: cover;
            "
          ></div>
          <div class="portfolio-card lg:mx-24 lg:p-8">
            <h4 class="text-2xl mt-2 font-bold">
              {% trans 'Project:' %}
              <span class="font-normal">Learnr</span>
            </h4>
            <p class="flex pt-6">
              <!-- prettier-ignore -->
              {% trans 'The latest addition to Decyphr family. This is an learning platform for spoken languages. At the moment this is targetted at Brazilians that want to learn English, but will be expanded upon with further languages in future' %}
            </p>
          </div>
          <div class="portfolio-card lg:mx-24 lg:p-8">
            <h4 class="text-2xl mt-2 font-bold">{% trans 'Description:' %}</h4>
            <p>
              <!-- prettier-ignore -->
              {% trans 'Learnr is built in Django with a Tailwind UI and is deployed on EC2. This project currently displays the learning material to the student for them to read the material, but I am also working on integration with Twilio Video which will allow me to give lessons to students so they can have interactive lessons and conversations will real people' %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <label
      for="de-carousel-1"
      class="prev de-control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
      >‹</label
    >
    <label
      for="de-carousel-3"
      class="next de-control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
      >›</label
    >

    <!--Slide 3-->
    <input
      class="de-carousel-open"
      type="radio"
      id="de-carousel-3"
      name="de-carousel"
      aria-hidden="true"
      hidden=""
    />
    <div class="de-carousel-item absolute opacity-0" style="height: 50vh">
      <div
        class="h-full w-full bg-cornflowerblue-50 flex items-center text-center"
      >
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
          <!-- prettier-ignore -->
          <div
            class="portfolio-card lg:mx-24 lg:p-8"
            style="background-color: #303c6c"
          >
          <img src="{%static 'images/readr.png'%}" />
        </div>
          <div class="portfolio-card lg:mx-24 lg:p-8">
            <h4 class="text-2xl mt-2 font-bold">
              {% trans 'Project:' %}
              <span class="font-normal">Readr</span>
            </h4>
            <p class="flex pt-6">
              <!-- prettier-ignore -->
              {% trans 'Readr is intented to assist language learners with reading books written in their new language. The idea is that a new language learner translates phrases from books that they don\'t understand and Readr translates the text, creates an audio sample and provides a syntactical breakdown of the text and enables learners to practice the phrases they have translated' %}
            </p>
          </div>
          <div class="portfolio-card lg:mx-24 lg:p-8">
            <h4 class="text-2xl mt-2 font-bold">{% trans 'Description:' %}</h4>
            <p>
              <!-- prettier-ignore -->
              {% trans 'Readr is written in Django and NextJS and hosted on EC2 and Netlify respectively. All text is translated using Google Translate and Google\'s Language service to get a breakdown of the text to enable learners to see which words are adjectives, verbs, nouns, etc. and Google Books is used to enable students to manage their library to keep track of what they are reading' %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <label
      for="de-carousel-2"
      class="prev de-control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
      >‹</label
    >
    <label
      for="de-carousel-4"
      class="next de-control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
      >›</label
    >
    <!--Slide 4-->
    <input
      class="de-carousel-open"
      type="radio"
      id="de-carousel-4"
      name="de-carousel"
      aria-hidden="true"
      hidden=""
    />
    <div class="de-carousel-item absolute opacity-0" style="height: 50vh">
      <div
        class="h-full w-full bg-cornflowerblue-50 flex items-center text-center"
      >
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
          <!-- prettier-ignore -->
          <div
            class="portfolio-card h-xlg lg:mx-24"
          >
          <img class="w-full h-full" src="{%static 'images/i18nr.png'%}" />
        </div>
          <div class="portfolio-card lg:mx-24 lg:p-8">
            <h4 class="text-2xl mt-2 font-bold">
              {% trans 'Project:' %}
              <span class="font-normal">i18nr</span>
            </h4>
            <p class="flex pt-6">
              <!-- prettier-ignore -->
              {% trans 'I was working with translations and had configured APIs for Google Translation and manually manually copying and pasting code into Google Translate which was time consuming and error-prone. i18nr takes text or a file as a parameter and translates it into the target languages' %}
            </p>
          </div>
          <div class="portfolio-card lg:mx-24 lg:p-8">
            <h4 class="text-2xl mt-2 font-bold">{% trans 'Description:' %}</h4>
            <p>
              <!-- prettier-ignore -->
              {% trans 'i18nr is written in Typescript using Heroku\'s oclif with a Django backend hosted on EC2 and the tool is available on NPM for installation within any project and is configurable to work as an npm command to translate your JSON, YAML or PHP files' %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <label
      for="de-carousel-3"
      class="prev de-control-4 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
      >‹</label
    >
    <label
      for="de-carousel-1"
      class="next de-control-4 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
      >›</label
    >

    <!-- Add additional indicators for each slide-->
    <ol class="de-carousel-indicators">
      <li class="inline-block mr-3">
        <label
          for="de-carousel-1"
          class="de-carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700"
          >•</label
        >
      </li>
      <li class="inline-block mr-3">
        <label
          for="de-carousel-2"
          class="de-carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700"
          >•</label
        >
      </li>
      <li class="inline-block mr-3">
        <label
          for="de-carousel-3"
          class="de-carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700"
          >•</label
        >
      </li>
      <li class="inline-block mr-3">
        <label
          for="de-carousel-4"
          class="de-carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700"
          >•</label
        >
      </li>
    </ol>
  </div>
</div>
